<!DOCTYPE html>
<html>
  <head>
    <title>Frontend App</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body>
    <h1>Archivos</h1>
    <ul id="archivo-lista"></ul>
    <label for="archivo-nuevo-nombre">Nuevo nombre:</label>
    <input type="text" id="archivo-nuevo-nombre">
    <button onclick="actualizarArchivo()">Actualizar</button>
    <script type="text/javascript" src="{{ url_for('static', filename='script.js') }}"></script>
  </body>
</html>
