<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Listado de archivos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='static/styles.css') }}">
</head>
<body>
    <h1>Listado de archivos</h1>
    <table>
        <tr>
            <th>ID</th>
            <th>Nombre de archivo</th>
            <th>Tamaño</th>
            <th>Acciones</th>
        </tr>
        {% for file in archivos %}
        <tr>
            <td>{{ file['_id']['$oid'] }}</td>
            <td>{{ file['FileName'] }}</td>
            <td>{{ file['FileSize'] }}</td>
            <td>
                <form method="post">
                    <input type="hidden" name="file_id" value="{{ file['FileId'] }}">
                    <input type="hidden" name="file_oid" value="{{ file['_id']['$oid'] }}">
                    <label>Cambiar nombre:</label>
                    <input type="text" name="new_name">
                    <input type="submit" value="Enviar">
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>